body {
    font-family: 'Poppins', sans-serif;
    background-color: #F1F3F6;
    height: 100vh;
    width: 100vw;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100vh;
}

.form-container {
    background: white;
    box-shadow: 0px 12px 50px rgba(0, 0, 0, 0.1);
}

.tittleContend {
    text-align: center;
}

.tittleContend__desc {
    font-weight: 600;
    font-size: 20px;
}

.loginBtn {
    width: 100%;
    font-weight: 500;
}

.loginBtn, .loginBtn:hover {
    background-color: #FD7401;
    color: white;
}

.singupBtn, .singupBtn:hover {
    background-color: white;
    border: 1px solid #FD7401;
    color: #FD7401;
    width: 100%;
}

.btnContainer {
    height: 8em;
}

.input:focus {
    box-shadow: none;
    border-color: #FD7401;
}

.textColor {
    color: #555555;
}

.forgotPassword {
    color: #1E2772;
    font-size: 14px;
    text-align: end;
    display: block;
}


.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    height: 20em;
}

.or-image {
    width: 100%;
}

@media screen and (max-width:960px) {
    .grid-container {
        grid-template-columns: 35% 75%;
        max-height: 100vh;
    }
    
    .image {
        width: 80%;
    }
}

@media screen and (max-width: 850px) {
    .grid-container {
        grid-template-columns: 40% 60%;
    }
}

@media screen and (max-width: 780px) {
    .grid-container {
        grid-template-columns: 48% 50%;
    }

    .form-container {
        height: 100vh;
    }
}

@media screen and (max-width: 730px) {
    .image {
        display: none;
    }

    .grid-container {
        display: block;
    }

    .form-container {
        width: 70%;
        margin: 0 auto;
        height: 100vh;
    }
}

@media screen and (max-width: 650px) {
    .form-container {
        width: 80%;
    }
}